certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
future==1.0.0
idna==3.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
keras==2.10.0
numpy==1.19.5
packaging==21.3
pyparsing==3.1.2
pytorch-crf==0.7.2
regex==2023.8.8
requests==2.27.1
sacremoses==0.0.53
sentencepiece==0.2.0
seqeval==0.0.15
six==1.16.0
tokenizers==0.8.1rc1
torch==1.6.0
tqdm==4.64.1
transformers==3.0.2
typing_extensions==4.1.1
urllib3==1.26.19
zipp==3.6.0