coloredlogs==15.0.1
cycler==0.11.0
humanfriendly==10.0
kiwisolver==1.4.5
matplotlib==3.0.1
mpmath==1.2.1
numpy==1.21.4
pillow==6.2.2
protobuf==4.24.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
sympy==1.10.1
tensorboardx==1.4
torch==1.2.0
torchvision==0.4.0
tqdm==4.66.4
typing_extensions==4.7.1
future==1.0.0
colorama==0.4.6