absl-py==1.4.0
bleach==1.5.0
certifi==2021.5.30
dataclasses==0.8
html5lib==0.9999999
importlib-metadata==4.8.3
markdown==3.3.7
numpy==1.16.4
protobuf==3.19.6
scikit-learn==0.18.1
scipy==0.18.1
six==1.16.0
tensorflow==1.15.0
typing_extensions==4.1.1
werkzeug==2.0.3
zipp==3.6.0
functools32==3.2.3.post1
keras-preprocessing==1.0.5
google-pasta==0.1.6
keras-applications==1.0.8
wheel==0.37.1
grpcio==1.8.6
termcolor==1.1.0
astor==0.6
mock==2.0.0
gast==0.2.2
tensorboard==1.15.0
tensorflow-estimator==1.15.1
opt-einsum==2.3.2
wrapt==1.11.1