absl-py==0.7.1
astor==0.7.1
bleach==1.5.0
captcha==0.3
certifi==2019.3.9
chardet==3.0.4
click==7.0
cycler==0.10.0
easydict==1.8
flask==1.0.2
gast==0.2.2
grpcio==1.19.0
html5lib==0.9999999
idna==2.7
itsdangerous==1.1.0
jinja2==2.10.1
markdown==3.1
markupsafe==1.1.1
matplotlib==2.1.0
numpy==1.16.2
olefile==0.46
pillow==4.3.0
protobuf==4.21.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2018.9
requests==2.19.1
six==1.12.0
tensorboard==1.15.0
tensorflow==1.15.5
termcolor==1.1.0
urllib3==1.23
werkzeug==0.15.2
keras-applications==1.0.8
google-pasta==0.1.6
opt-einsum==2.3.2
wrapt==1.11.1
keras-preprocessing==1.0.5
tensorflow-estimator==1.15.1
futures==2.2.0
h5py==2.10.0
setuptools==41.0.0