absl-py==1.4.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
dataclasses==0.8
gast==0.6.0
grpcio==1.48.2
h5py==3.1.0
importlib-metadata==4.8.3
keras-applications==1.0.8
keras-preprocessing==1.1.2
markdown==3.3.7
mock==5.1.0
numpy==1.18.1
opencv-python==4.1.0.25
pillow==6.1.0
protobuf==3.19.6
scipy==1.2.0
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.32.1
typing_extensions==4.1.1
werkzeug==2.0.3
zipp==3.6.0
wheel==0.26.0