absl-py==1.4.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
dataclasses==0.8
gast==0.2.2
grpcio==1.48.2
h5py==3.1.0
importlib-metadata==4.8.3
keras-applications==1.0.8
keras-preprocessing==1.1.2
markdown==3.3.7
mock==5.1.0
numpy==1.16.4
opencv-python==4.1.0.25
pillow==6.1.0
protobuf==3.19.6
scipy==1.2.0
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.32.1
typing_extensions==4.1.1
werkzeug==2.0.3
zipp==3.6.0
wrapt==1.11.1
setuptools==41.0.0
functools32==3.2.3.post1
opt-einsum==2.3.2
google-pasta==0.1.6
wheel==0.37.1