coloredlogs==15.0.1
cycler==0.10.0
humanfriendly==10.0
kiwisolver==1.0.1
matplotlib==3.0.2
mpmath==1.2.1
numpy==1.16.1
pillow==5.4.1
pyparsing==2.3.1
python-dateutil==2.8.0
python-gflags==3.1.2
sympy==1.10.1
torch==1.7.0
torchvision==0.8.1
tqdm==4.19.9
future==1.0.0
dataclasses==0.6